
@{
    ViewData["Title"] = "No Access";
}
<div class="text-center">
    <h1 class="display-4">Insufficient Access.</h1>
    <h2><a asp-area="" asp-controller="Home" asp-action="Index">Back to home</a></h2>
</div>