html {
  font-size: 14px;
}

html {
    position: relative;
    min-height: 100%;
}


@media only screen and (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
  margin-bottom: 60px;
}

body {
    color: #444;
    font-family: 'Georgia', 'Palatino', 'Palatino Linotype', 'Times New Roman', 'serif';
    font-size: 14px;
    line-height: 1.5em;
    padding: 1em;
}
body {
    width: 100%;
    background-image: url("~/images/background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: -ms-grid;
    display: grid;
    place-items: center;
}