@{
    ViewData["Title"] = "Home Page";
}

<div class="body">
    <h1 class="display-4"><b>Welcome. Here you can create a character for D&D</b></h1>
    <h2>As a D&D player, you'll create a character to take on adventures. The TTRPG
        character builder is free to use for registered users.</h2>

</div>





<div class="short description">
    <h2>So, Whats the Point of Creating a Character></h2>
    <p class="lead">Character creation can take forever. Our free
        character builder makes it quick and easy so that you can join your friernds.
        Create a D&D character in minutes and jump
        into the action with your digital character.
        You can edit characters you made and add any character you made to your party for the adventure!</p>
</div>


<div class="DND why">
<h3>Why would  want to play D and D??</h3>
<p class="lead">
        From the very begining, one of the many benefits of playing Dungeons and Dragons
        was that it brought groups of people together. It gave people who had nothing but their imagination bond
        and grow together. It's also  great for casual players or a 
        small group of friends who want to be able to quickly log in and experience an adventure.
        You can be as descreptive as you want with your character from the bare bones all the way to rich and deep backstories.
        Finially you get to make the experience your own and that makes it much more memorable as well.
</p>
</div>