@{
    ViewData["Title"] = "Home Page";
}

<div class="welcome">
    <link rel="stylesheet" type="text/css" href="site.css" />
    <h1 class="display-4">Welcome</h1>
    <p>Let's Kick some App</p>
</div>
