@{
    ViewData["Title"] = "Home Page";
}

<div class="body">
    <h1 class="display-4">Welcome. Here you can create a character for D&D</h1>
    <h2>As a D&D player, you'll create a character to take on adventures. The TTRPG
        character builder is free to use for registered users.</h2>

</div>





<div class="short description">
    <h1>So, Whats the Point of cCreating a Character?</h1>
    <p class="lead">Character creation can take forever. Our free
        character builder makes it quick and easy so that you can join your friernds.
        Create a D&D character in minutes and jump
        into the action with your digital character.
        You can edit characters you made and add any character you made to your party for the adventure!</p>
</div>